.input_block {
  display: flex;
  flex-direction: column;

  &-label {
    text-transform: uppercase;
  }

  &-input {
    box-sizing: border-box;
    height: 29px;
    padding: 0 7px;

    border-radius: 5px;

    text-align: center;
  }
}
