@import '../../assets/scss/variables';

.contact_page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &-container {
    width: fit-content;
    position: relative;
    min-width: 850px;
    margin: 0 auto;
  }
  &-form_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $backgroundColor;
    width: 100%;
    height: 100%;

    transition: all 0.45s ease-in-out;
    transform: translateY(0);

    &--hidden{
      transform: translateY(-100%);
    }
  }
  &-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-self: self-start;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 101;
    text-align: center;
    color: $textColor;
    display: flex;
    background-color: $backgroundColor;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 0 30%;
    }
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $textColor;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}