@import "../../assets/scss/variables";

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 90%;
  &-container {
    max-width: 250px;
    margin: 0 auto;
  }
  &-title {
    color: $textColor;

    text-align: center;
  }
  &-data {
    color: $labelColor;
  }
}
