@import "../../assets/scss/variables";

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 90%;
  &-container {
    width: 185px;
    margin: 0 auto;
  }
  &-title {
    color: $textColor;

    text-align: center;
  }
  &-data {
    color: $labelColor;
  }

  &-submit {
    width: 100%;
    height: 29px;
    margin-top: 15px;

    border-radius: 5px;
    outline: none;
    &:hover {
      background-color: white;
    }
  }
}
