@import "./assets/scss/variables";

html, body {
  overflow: hidden;

  height: 100%;
  margin: 0;
  font-size: 17px;
  font-family: 'DejaVu Serif', sans-serif;
}

#root {
  height: 100%;

  background-color: $backgroundColor;
}
