@import '../../assets/scss/variables';

.filter_block {
  &-label {
    color: $textColor;
    font-size: 1.2rem;
    font-weight: 700;
  }
  &-input {
    font-size: 1.1rem;
    border-radius: 10px;
    height: 25px;
    padding: 0 7px;
    width: 180px;
  }
}